/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/button-wa/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
:root {
    --Color: #000000;
}
.button_wa {
    box-shadow: 1px 1px 10px rgb(from var(--Color) r g b / 15%);
    border: none
}

