/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/button-wa/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
:root {
    --Color: #000000;
}
.button_wa {
    box-shadow: 1px 1px 10px rgb(from var(--Color) r g b / 15%);
    border: none
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/vertikal-scroll/style.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
body{
    min-height: 100vh;

}
.scroll{
    -webkit-mask-image: linear;
}
.B{
    animation : animate 20s linear infinite;

}


@keyframes animate {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/horizontal-scroll/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
body{
    min-height: 100vh;

}
.scroll{
    -webkit-mask-image: linear;
    display: flex;
    overflow: hidden;
}
.scroll .A{
    animation : animate 20s linear infinite;
    animation-delay: 5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}


@keyframes animate {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-400%);
    }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Home-page/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
:root {
    --myColor: #E3457B;
    --bg : #ffffff;
}

.button{
    box-shadow: 0px 1px 35px rgb(from var(--myColor) r g b / 25%), inset 3px 3px 18px #E3457B;
    border: none
}
.button_2{
    box-shadow: 0px 1px 35px rgb(from var(--myColor) r g b / 25%), inset 3px 3px 18px #262626;
    border: none
}
.text{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.kotak {
    background-color: rgb(from var(--bg) r g b / 60%);
}
.kotak_2 {
    background-color: rgb(from var(--bg) r g b / 20%);
}
.pict {
    box-shadow: 0px 1px 35px rgb(from var(--myColor) r g b / 20%);
}
